.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 25px;
}
.link {
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--main_text_color);
    color: var(--secondary_text_color);
    user-select: none;
    -webkit-user-drag: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}
