.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: var(--secondary_color);
    padding: 20px;
    overflow: hidden;
}
.login {
    width: 400px;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--main_color);
    border-radius: 20px;
    padding: 50px 20px 30px 20px;
}
.title {
    width: 100%;
    color: var(--secondary_text_color);
    font-size: 40px;
    text-align: center;
    user-select: none;
}
