.searchInput {
    max-width: 200px;
    height: 30px;
    /* padding: 10px; */
    border-radius: 20px;
    border: 1px solid var(--main_color);
}
.filterInput {
    max-width: 100px;
    height: 30px;
    padding: 10px 5px 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--main_color);

    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 750px) {
    .filterInput {
        width: 100px;
    }
}
@media (max-width: 500px) {
    .searchInput {
        max-width: 140px;
    }
}
