.preloader{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 100%;
    height: 100%;
}
.loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%; 
    border: 2px solid #7a7a7a; 
    border-top-color: #ffffff; 
    border-radius: 50%;
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }