.inputImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    position: relative;
}
.inputImageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageShab{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.593);
}
.imageShabIcon{
    width: 40px;
    height: 40px;

    color:var(--main_color)
}