.searchInput {
    max-width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main_color);

    text-transform: uppercase;
    font-weight: 600;
}
.filterInput {
    max-width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main_color);

    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 750px) {
    .filterInput {
        width: 120px;
    }
}
@media (max-width: 500px) {
    .searchInput {
        max-width: 140px;
    }
}
