.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 770px;
    height: max-content;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.link{
    font-size: 20px;
    color: var(--link_color);
}
.titleInput {
    border: 1px solid var(--sub_color);
    border-radius: 5px;
}
.editorJs {
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.buttonContainer button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--secondary_text_color);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    opacity: 0.9;
}
.preloadCo {
    width: 50px;
    height: 50px;
    position: relative;
}
.buttonContainer button:hover {
    opacity: 1;
}
.editButton {
    width: 230px;
    background-color: var(--main_color);
}
.deleteButton {
    width: 230px;
    background-color: var(--delete);
}
.preloaderContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.preloader {
    width: 50vh;
    height: 50vh;
    position: relative;
    flex-shrink: 0;
}
@media (max-width: 500px) {
    .buttonContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .buttonContainer button {
        font-size: 20px;
        height: 35px;
    }
    .preloadCo {
        width: 30px;
        height: 30px;
    }
    .deleteButton {
        width: 100%;
    }
    .editButton {
        width: 100%;
    }
    .title{
        font-size: 25px;
    }
}