.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title {
    width: 100%;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
