.inputTitle {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: var(--main_text_color);
    background-color: var(--sub_color);
    border: 1px solid var(--main_color);
}
.description {
    font-size: 20px;
}
.descriptionText{
    font-size: 15px;
}
.containerItemP {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.buttonT{
    width: 100%;
    height: max-content;
    background-color: var(--sub_color);
    border-radius:5px;
    cursor: pointer;
}
.iconArr{
    width: 20px;
    color: var(--main_color);
    height: 20px;
}