.inputTitle {
    width: 100%;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: var(--main_text_color);
    background-color: var(--sub_color);
    border: 1px solid var(--main_color);
}