.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.inputLogin {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
}
.buttonLogin {
    width: 200px;
    height: 50px;
    padding: 10px 25px;
    font-size: 25px;
    background-color: var(--secondary_text_color);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_color);
}
.preloadCo {
    width: 50px;
    height: 50px;
    position: relative;
}
.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.passwordContainer {
    width: 100%;
    height: max-content;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}
.inputPassword {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
}
.iconEye {
    width: 35px;
    height: 34.6px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    cursor: pointer;
    background-color: white;
}
.checkboxContainer {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
}
.checkboxContainer p {
    color: var(--secondary_text_color);
}
