.container {
    display: none;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.itemNav {
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    opacity: 1;
    cursor: pointer;
}
.itemNav p{
    font-size: 6px;
}
.itemNavAc {
    opacity: 0.7;
}
.iconNav {
    width: 40px;
    height: 40px;
    color: var(--secondary_color);
}
.itemNavProfile {
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}
.title {
    width: 100%;
    font-size: 9px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--secondary_text_color);
    text-align: center;
    text-decoration: none;
    user-select: none;
}
.profileContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--main_color);
    cursor: pointer;
}
@media (max-width: 1120px) {
    .container {
        width: 90%;
        max-width: 500px;
        display: flex;
    }
}
