.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    max-width: 770px;
}
.projectWrapper {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.create {
    width: max-content;
    height: max-content;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    color: var(--secondary_text_color);
    background-color: var(--main_color);
    cursor: pointer;
}
.projectWrapper::-webkit-scrollbar {
    display: none;
}
.projectContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 10px;
    row-gap: 5px;
}