.container {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 30px;
    height: max-content;
    /* padding-bottom: 40px; */
}
.container input {
    border: 1px solid var(--sub_color);
    border-radius: 5px;
    padding: 10px 0 10px 10px;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.descriptionTextArea {
    border: 1px solid var(--sub_color);
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    width: 100%;
    font-size: 20px;
}
.description {
    width: 100%;
    font-size: 20px;
}
.card_container {
    width: 100%;
    min-height: 400px;
    height: max-content;
}
.button {
    height: 50px;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    color: var(--secondary_text_color);
    background-color: var(--main_color);
    cursor: pointer;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.infoCourse {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infoText {
    width: 100%;
    text-align: start;
    font-size: 20px;
}
.buttonContainer {
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    display: flex;
    gap: 10px;
}

.button:hover {
    opacity: 1;
}
.createLesson {
    width: max-content;
}
.preloadCo {
    width: 50px;
    height: 50px;
    position: relative;
}
.editButton {
    width: 230px;
    background-color: var(--main_color);
}
.deleteButton {
    width: 200px;
    background-color: var(--delete);
}
.preloaderContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.preloader {
    width: 50vh;
    height: 50vh;
    position: relative;
    flex-shrink: 0;
}

.inputImage {
    width: 300px;
    height: 200px;
    background-color: var(--sub_color);
    border: 1px solid var(--main_color);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uploadContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .buttonContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .buttonContainer button {
        font-size: 20px;
        height: 35px;
    }
    .preloadCo {
        width: 30px;
        height: 30px;
    }
    .deleteButton {
        width: 100%;
    }
    .editButton {
        width: 100%;
    }
    .createLesson {
        width: 100%;
        font-size: 20px;
        height: 35px;
    }
    .title {
        font-size: 25px;
    }
}
