.container {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 30px;
    height: max-content;
    padding-bottom: 40px;
}
.container input{
    border: 1px solid var(--sub_color);
    border-radius: 5px;
    padding:10px 0 10px 10px;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.description {
    width: 100%;
    font-size: 20px;
    color: var(--sub_color);
}
.card_container {
    width: 100%;
    min-height: 400px;
    height: max-content;
}
.button {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    color: var(--secondary_text_color);
    background-color: var(--main_color);
    cursor: pointer;
    flex-shrink: 0;
}
.infoCourse {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.infoText{
    width: 100%;
    text-align: start;
    font-size: 15px;
}
.buttonContainer {
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    display: flex;
    gap: 10px;
}

.button:hover{
    opacity: 1;
}
.editButton {
    background-color: var(--main_color);
}
.deleteButton {
    background-color: var(--delete);
}