.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 770px;
    height: max-content;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.selectC {
    width: 100%;
    color: var(--main_text_color);
    background-color: var(--sub_color);
    border: 1px solid var(--main_color);
    font-size: 20px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
}
.subInfo {
    width: 100%;
    text-align: start;
    font-size: 20px;
}
.subInput {
    width: 250px;
    padding: 5px 10px;
}
.titleInput {
    border: 1px solid var(--sub_color);
    border-radius: 5px;
}
.editorJs {
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.buttonContainer button {
    height: 50px;
    text-align: center;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--secondary_text_color);

    cursor: pointer;
    opacity: 0.9;

    display: flex;
    justify-content: center;
    align-items: center;
}
.preloadCo {
    width: 50px;
    height: 50px;
    position: relative;
}
.buttonContainer button:hover {
    opacity: 1;
}
.editButton {
    width: 230px;
    background-color: var(--main_color);
}
.deleteButton {
    width: 200px;
    background-color: var(--delete);
}
.preloaderContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.preloader {
    width: 50vh;
    height: 50vh;
    position: relative;
    flex-shrink: 0;
}