.container {
    width: 100%;
    max-width: 100%;
    padding: 5px 3% 5px 3%;
    display: flex;
    align-items: center;
    gap: 3%;
    overflow: hidden;
    background-color: var(--sub_color);
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    color: var(--main_text_color);
    text-decoration: none;
}
.container:hover {
    opacity: 0.7;
}
.container p {
    width: 100%;
    max-height: 30px;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container img {
    border-radius: 50%;
    width: 20%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
