* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    height: 100%;

    scrollbar-color: var(--main_color) var(--secondary_color);
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--secondary_color);
    color: var(--main_text_color);
    background-image: url(../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.center {
    flex: 1 1 auto;
    width: var(--container_width);
    max-width: var(--container_maxwidth);
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}
input:focus {
    outline: none;
}

@custom-media --mobile_adaptive (max-width: 895px);
/* Оригинал */
/* :root {
    --main_color: #ffffff;
    --secondary_color: #0e0e0e;
    --main_text_color: #ffffff;
    --secondary_text_color: #0e0e0e;
    --subtitle_text_color: #3b3b3b;
    --delete: #eb1616;
    --sub_color: #545454;

    --link_color: #2fff00;

    --container_width: 90%;
    --container_maxwidth: 1600px;
    --container_maxheight: 900px;
    --mobile_adaptive: 895px;
} */
/* Обратные цвета */
/* :root {
    --main_color: #0e0e0e;
    --secondary_color: #fff;
    --main_text_color: #0e0e0e;
    --secondary_text_color: #fff;
    --subtitle_text_color: #3b3b3b;
    --delete: #eb1616;
    --sub_color: #a9a9a9;

    --link_color: #2fff00;

    --container_width: 90%;
    --container_maxwidth: 1600px;
    --container_maxheight: 900px;
    --mobile_adaptive: 895px;
} */
/* Более четкая версия */
:root {
    --main_color: #ffffff;
    --secondary_color: #0e0e0e;
    --main_text_color: #ffffff;
    --secondary_text_color: #0e0e0e;
    --subtitle_text_color: #4b4b4b;
    --delete: #eb1616;
    --sub_color: #444444;

    --link_color: #2fff00;

    --container_width: 90%;
    --container_maxwidth: 1600px;
    --container_maxheight: 900px;
    --mobile_adaptive: 895px;
}
/* Версия 2 */
/* :root {
    --main_color: #F6F2F6;
    --secondary_color: #1C252C;
    --main_text_color: #F6F2F6;
    --secondary_text_color: #1C252C;
    --subtitle_text_color: #58545B;
    --delete: #eb1616;
    --sub_color: #58545B;

    --link_color: #2fff00;

    --container_width: 90%;
    --container_maxwidth: 1600px;
    --container_maxheight: 900px;
    --mobile_adaptive: 895px;
} */
/* Версия 3 */
/* :root {
    --main_color: #10100F;
    --secondary_color: #F4F9FC;
    --main_text_color: #10100F;
    --secondary_text_color: #F4F9FC;
    --subtitle_text_color: #626461;
    --delete: #eb1616;
    --sub_color: #9c9c9c;

    --link_color: #2fff00;

    --container_width: 90%;
    --container_maxwidth: 1600px;
    --container_maxheight: 900px;
    --mobile_adaptive: 895px;
} */

.ce-inline-toolbar {
    background-color: var(--secondary_color);
}
.ce-toolbar__plus {
    color: var(--main_color);
}
.ce-toolbar__settings-btn {
    color: var(--main_color);
}
.ant-card-body {
    height: 70px !important;
    margin: 0;
    padding: 0 !important;
}
.ant-card-meta-title {
    margin: 0 !important;
}
.ce-conversion-toolbar {
    background-color: var(--secondary_color);
}
.ce-conversion-tool__icon svg {
    color: var(--secondary_color);
}
@media (max-width: 1120px) {
    .center {
        padding: 20px 0 90px 0;
    }
}
@media (max-width: 400px) {
    .ant-card-body {
        padding: 10px 5px 16px 5px !important;
    }
}
