.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: max-content;
}
.containerCard {
    min-height: 55vh;
    height: max-content;
}
.card {
    height: 200px;
}
.pagination {
    background-color: var(--main_color);
    width: max-content;
    border-radius: 10px;
}
.filterSortContainer {
    display: flex;
    gap: 10px;
}
.sortSelectContainer {
    display: flex;
    gap: 5px;
}
.sortSelect {
    width: 120px;
    border-radius: 5px;
    border: 1px solid var(--main_color);
    background-color: var(--main_color);

    padding-left: 10px;
}
.filterPanel {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.inputSearchContainer {
    width: max-content;
    height: max-content;
    position: relative;
}
.searchInput {
    max-width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}
.filterInput {
    max-width: 120px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}
.iconSearch {
    width: 20px;
    height: 20px;
    color: var(--secondary_color);
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    background-color: rgb(255, 255, 255);
}
.filterButton {
    width: 30px;
    height: 30px;
    color: var(--main_color);
    cursor: pointer;
}
.filterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.secondaryFilterContainer {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
}
.title {
    font-size: 25px;
    font-weight: 600;
}
.preloaderContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.preloader {
    width: 50vh;
    height: 50vh;
    position: relative;
    flex-shrink: 0;
}
@media (max-width: 750px) {
    .filterContainer {
        align-items: start;
    }
    .secondaryFilterContainer {
        gap: 5px;
    }
    .filterInput {
        width: 100px;
    }
    .filterPanel {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: end;
    }
    .filterButton {
        display: block;
    }
}
@media (max-width: 500px) {
    .searchInput {
        max-width: 140px;
    }
    .filterPanel {
        gap: 5px;
    }
    .title {
        font-size: 20px;
        font-weight: 600;
    }
}
